.button {
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
}

.primary {
    border: none;
    padding: 0.5rem 1rem;
    background-color: var(--primary);
    color: var(--background);
    min-width: 120px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}



.secondary {
    border: 1rem;
    padding: 0.5rem 1rem;
    background-color: var(--secondary);
    color: var(--background);
    min-width: 120px;
}

.primary:hover,
.secondary:hover {
    opacity: 0.9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.delete {
    padding: 0.5rem;
    background: transparent;
    border: none;
    cursor: pointer;
    color: var(--primary);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete:hover {
    color: var(--primary);
    background-color: #dc35451a;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}